* {
  /* So 100% means 100% */
  box-sizing: border-box;
}

html {
  background-color: #e1ecbf;
}

nav .navbar-item {
  background-color: #e1ecbf;
  border: none;
}

.section {
  padding: 1.5em;
}

.login-page .section {
  padding: 4em 1.5em;
}

.login-page form button {
  padding-top: calc(0.5em - 3px);
}
