* {
  /* So 100% means 100% */
  box-sizing: border-box;
}

html {
  background-color: #e1ecbf;
}

nav .navbar-item {
  background-color: #e1ecbf;
  border: none;
}

.login-page form button {
  padding-top: calc(0.5em - 3px);
}

.login-page .is-danger {
  height: 18px;
  font-size: 1rem;
}
